<% provide(:title, "Dashboard") %>

<h1><%= "Hello, " + current_user.name.capitalize %></h1>

<div class="row">
  <div class="col">
    <div class="card mx-auto mb-3" style="max-width: 500px;">
      <%= image_tag current_user.avatar.url class: "img-fluid img-thumbnail rounded float-start", alt: "Profile image", style: "max-width: 500px;" %>
    </div>
  </div>
  <div class="col">
    <div class="card mx-auto mb-3">
      <div class="card-header text-center">
        Location
      </div>
      <div class="card-body">
        <h2><%= current_user.country + ", " %><%= current_user.state + ", " %><%= current_user.city %></h2>
      </div>
    </div>

    <div class="card mx-auto mb-3">
      <div class="card-header text-center">
        Bio
      </div>
      <div class="card-body">
        <p><%= current_user.bio %></p>
      </div>
    </div>

    <div class="card mx-auto mb-3">
      <div class="card-header text-center">
        Statistics
      </div>
      <div class="card-body">
        <span style="display: flex; justify-content: space-between;"><h6><i class="fa-solid fa-comments" style="color: cornflowerblue;"></i> Chats - <%= @chats_count %></h6>
          <a href="/chats" style="text-align: right;">details</a>
        </span>
        <hr>
        <h6><i class="fa-solid fa-message" style="color: blueviolet;"></i> Messages sent - <%= @messages_count %></h6>
        <hr>
        <span style="display: flex; justify-content: space-between;"><h6><i class="fa-solid fa-lock" style="color: red;"></i> Blocked users - <%= @blocked_users_count %></h6>
          <a href="/blocks" style="text-align: right;">details</a>
        </span>
        <hr>
        <span style="display: flex; justify-content: space-between;"><h6><i class="fa-solid fa-star" style="color: #858d11;"></i> Favorites - <%= @favorite_users_count %></h6>
          <a href="/favorites" style="text-align: right;">details</a>
        </span>
        <hr>
        <h6><i class="fa-solid fa-eye" style="color: darkgreen"></i> Visitors - N/A </h6>
      </div>
    </div>

    <div class="card mx-auto mb-3">
      <a href="<%= edit_user_registration_path %>" class="btn btn-outline-primary mb-1 col-6 d-md-block mt-3 mx-auto">
        <i class="fa-solid fa-pen-to-square" style="color: #585555;"></i>&nbsp;Edit profile
      </a>
      <a href="<%= destroy_user_session_path %>" data-turbo-method="delete" class="btn btn-outline-primary mb-1 col-6 d-md-block mb-3 mx-auto">
        <i class="fa-solid fa-right-from-bracket" style="color: #585555;"></i>&nbsp;Sign out
      </a>
    </div>
  </div>
</div>










