<script>
    "use strict";

    function updateSlider() {
        const firstSliderValue = parseInt(document.getElementById("age_min").value);
        const secondSlider = document.getElementById("age_max");
        const secondSliderValue = parseInt(secondSlider.value);

        // Ensure that the second slider is always at least +1 greater than the first slider
        const minSecondSliderValue = Math.min(firstSliderValue + 1, 60); // Ensures not to exceed 60
        secondSlider.min = minSecondSliderValue;

        if (secondSliderValue < minSecondSliderValue) {
            secondSlider.value = minSecondSliderValue;
        }

        // Update the displayed values
        document.getElementById("age").innerText = firstSliderValue;
        document.getElementById("age2").innerText = secondSlider.value;
    }

    function updateSlider2() {
        const secondSliderValue = parseInt(document.getElementById("age_max").value);
        document.getElementById("age2").innerText = secondSliderValue;
    }
</script>

<%= search_form_for @q, url: profiles_path, method: :get, html: { class: "form-search" } do |f| %>

  <div class="input-group mb-3">
    <%= f.label :country_cont, "Country", class: "input-group-text" %>
    <%= f.select :country_cont, ["United States"], {}, class: "form-select" %>
  </div>

  <div class="input-group mb-3">
    <%= f.label :state_cont, "State", class: "input-group-text" %>
    <%= f.select :state_cont, render("list_of_states"), {}, class: "form-select" %>
  </div>

  <div class="input-group input-group-sm mb-3">
    <%= f.label :city_cont, "City", class: "input-group-text" %>
    <%= f.text_field :city_cont, class: "form-control", "aria-label" => "Sizing example input", "aria-describedby" => "inputGroup-sizing-sm" %>
  </div>

  <label for="age_min">Age min</label>
  <%= f.range_field :age_gt, in: 18..60, step: 1, value: @age_gt, class: "form-range", id: "age_min", oninput: "updateSlider()" %>
  <span id="age"><%= @age_gt %></span><br>

  <label for="age_max">Age max</label>
  <%= f.range_field :age_lt, in: 18..60, step: 1, value: @age_lt, class: "form-range", id: "age_max", oninput: "updateSlider2()" %>
  <span id="age2"><%= @age_lt %></span>
  <hr>

  <div class="d-grid col-6 mx-auto">
    <%= f.submit "Search", class: "btn btn-outline-primary mb-2" %>
    <a href="/profiles" class="btn btn-outline-secondary mb-2">Clear filters</a>
  </div>
<% end %>
