<% provide(:title, "Search") %>
<div class="container">

  <!-- Button trigger search modal -->
  <button type="button" class="btn btn-outline-secondary d-grid gap-2 d-md-block mx-auto mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Search parameters
  </button>

  <!-- Search Modal start -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="exampleModalLabel">Search</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%= render partial: "profiles/search_form" %>

        </div>
      </div>
    </div>
  </div>

  <!-- Search modal end -->

  <% if @profiles.any? %>
  <% @profiles.each do |profile| %>
    <div class="card mb-3 mx-auto p-2" style="max-width: 540px;">
      <div class="row g-0 m-1">
        <div class="col-md-3">
          <%= link_to "profiles/#{profile.id}" do %>
            <img src="<%= profile.avatar %>" alt="<%= profile.name.capitalize %>'s photo" class="img-fluid rounded-start rounded-end" style="max-width: 100%;">

        <% end %>

        </div>
        <div class="col-md-8">
          <div class="card-body m-3 text-center">
            <h5 class="card-title"><%= profile.name.capitalize %>, <%= profile.age %></h5>
            <p class="card-text">
              <%= profile.country %>, <%= profile.state %>, <%= profile.city %>
            </p>

            <div class="dropdown drop-top">
              <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Options
              </a>

              <ul class="dropdown-menu" style="background-color: gainsboro" aria-labelledby="dropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#<%= profile.id %>"><i class="fa-solid fa-eye" style="color: #585555;"></i>&nbsp;Quick
                    preview</a></li>
                <li>
                  <a class="dropdown-item" href="<%= send_message_path(profile.id) %>"><i class="fa-regular fa-comment" style="color: #585555;"></i>&nbsp;Send a message</a>
                </li>
                <li>
                  <a class="dropdown-item" href="profiles/<%= profile.id %>"><i class="fa-regular fa-address-card" style="color: #585555;"></i>&nbsp;See full profile</a></li>
              </ul>
            </div>


            <!-- Modal for quick preview -->

            <div class="modal fade" id="<%= profile.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-1" id="exampleModalLabel"><%= profile.name.capitalize %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= image_tag("#{profile.avatar}", alt: "#{profile.name.capitalize}'s photo", class: "img-fluid rounded-start rounded-end mx-auto") %>
                    <div class="container border p-2 mt-3">
                      <%= profile.bio %>
                    </div>
                  </div>
                  <div class="modal-footer justify-content-md-center">

                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>

            <!-- Modal for quick preview end -->

          </div>
        </div>
      </div>
    </div>

  <% end %>
    <% else %>
  <h2>No results on your search, please change the parameters</h2>
    <% end %>

  <%= will_paginate @profiles %>
</div>
