<% provide(:title, "#{ @user.name.capitalize }") %>

<h1><%= @user.name.capitalize + ", " %><%= @user.age %></h1>

<div class="row">
  <div class="col">
    <div class="card mx-auto mb-3" style="max-width: 500px">
      <img src="<%= @user.avatar %>" alt="<%= @user.name.capitalize %>'s photo" class="img-fluid img-thumbnail rounded-start rounded-end" style="max-width: 500px;">
    </div>
  </div>
  <div class="col">
    <div class="card mx-auto mb-3">
      <div class="card-header">
        Location
      </div>
      <div class="card-body">
        <h3><%= @user.country + ", " %><%= @user.state + ", " %><%= @user.city %></h3>
      </div>
    </div>
    <div class="card mx-auto mb-3">
      <div class="card-header">
        Bio
      </div>
      <div class="card-body">
        <p><%= @user.bio %></p>
      </div>
    </div>
    <div class="card mx-auto mb-3 text-center">
      <%= link_to 'Send message', send_message_to_profile_path(@user.id), class: "btn btn-outline-primary mb-1 col-6 d-md-block mx-auto mt-3" %>

      <%= turbo_frame_tag "block_unblock_button" do %>
        <% if @is_blocked_by_current_user %>
          <%= link_to unblock_profile_path(@user), data: { turbo_method: :delete, turbo_frame: "block_unblock_button" }, remote: true, class: "btn btn-outline-success mb-1 col-6 d-md-block mx-auto" do %>
            <i class="fa-solid fa-lock-open"></i>&nbsp;Unblock
          <% end %>
        <% else %>
          <%= link_to block_profile_path(@user), data: { turbo_method: :post, turbo_frame: "block_unblock_button" }, remote: true, class: "btn btn-outline-danger mb-1 col-6 d-md-block mx-auto" do %>
            <i class="fa-solid fa-lock"></i>&nbsp;Block
          <% end %>
        <% end %>
      <% end %>

      <%= turbo_frame_tag "like_button" do %>
        <% if Favorite.exists?(liking_user: current_user, liked_user: @user) %>
          <%= render 'profiles/unlike_button', user: @user %>
        <% else %>
          <%= render 'profiles/like_button', user: @user %>
        <% end %>
      <% end %>

      <%= link_to 'Back', '#', class: "btn btn-outline-primary mb-3 mt-5 col-3 mx-auto d-md-block", onclick: "event.preventDefault(); history.back();" %>
    </div>
  </div>
</div>








