<% provide(:title, "#{@user.name.capitalize}'s info".html_safe) %>

<div class="card col-12 mx-auto mb-2">
  <div class="card-header d-flex justify-content-between align-items-center">
    <%= link_to 'Back to admin panel', "#", class: 'btn btn-outline-primary me-auto', onclick: "event.preventDefault(); history.back();" %>
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
      <h3><%= @user.name.capitalize %></h3>
    </div>
  </div>
  <div class="card-body text-center">
    <%= image_tag @user.avatar.url, class: "img-fluid", style: 'width: 400px;' %>
  </div>
  <div class="card-footer">
    <div class="d-grid gap-2 col-6 mx-auto">
      <%= link_to chats_admin_path, class: "btn btn-outline-primary btn-sm" do %>
        <i class="fa-solid fa-message"></i> Chats
      <% end %>
      <%= link_to blocked_admin_path, class: "btn btn-outline-danger btn-sm" do %>
        <i class="fa-solid fa-lock"></i> Blocked by
      <% end %>
      <%= link_to blocks_admin_path, class: "btn btn-outline-danger btn-sm" do %>
        <i class="fa-solid fa-lock"></i> Blocked users
      <% end %>
      <%= link_to likes_admin_path, class: "btn btn-outline-warning btn-sm" do %>
        <i class="fa-solid fa-message"></i> Liked users
      <% end %>
      <%= link_to liked_admin_path, class: "btn btn-outline-warning btn-sm" do %>
        <i class="fa-solid fa-message"></i> Liked by
      <% end %>
      <%= link_to visitors_admin_path(@user), class: "btn btn-outline-warning btn-sm" do %>
        <i class="fa-solid fa-eye"></i> Visited by
      <% end %>
      <%= link_to visited_admin_path(@user), class: "btn btn-outline-warning btn-sm" do %>
        <i class="fa-solid fa-eye"></i> Visited profiles
      <% end %>

      <%= link_to delete_user_path(@user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this user?' }, class: "btn btn-outline-danger mt-4 mb-4 col-6 mx-auto" do %>
        <i class="fa-solid fa-circle-xmark"></i> Delete User
      <% end %>
    </div>
  </div>
</div>

<div class="card col-12 mx-auto">
  <div class="card-header text-center">
    <h3>Info</h3>
  </div>
  <div class="card-body">

    <table class="table table-dark table-striped table-sm">
      <tbody>
      <tr>
        <th scope="row">user_id</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th scope="row">username</th>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <th scope="row">Name</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th scope="row">Gender</th>
        <td><%= @user.gender %></td>
      </tr>
      <tr>
        <th scope="row">Country</th>
        <td><%= @user.country %></td>
      </tr>
      <tr>
        <th scope="row">State</th>
        <td><%= @user.state %></td>
      </tr>
      <tr>
        <th scope="row">City</th>
        <td><%= @user.city %></td>
      </tr>
      <tr>
        <th scope="row">Bio</th>
        <td><%= @user.bio %></td>
      </tr>
      <tr>
        <th scope="row">Date of Birth</th>
        <td><%= @user.dob %></td>
      </tr>
      <tr>
        <th scope="row">created_at</th>
        <td><%= @user.created_at.in_time_zone('Central Time (US & Canada)').strftime("%-d %b %Y, %l:%M %p") %></td>
      </tr>
      <tr>
        <th scope="row">updated_at</th>
        <td><%= @user.updated_at.in_time_zone('Central Time (US & Canada)').strftime("%-d %b %Y, %l:%M %p") %></td>
      </tr>
      <tr>
        <th scope="row">confirmed_at</th>
        <% if @user.confirmed_at.nil? %>
          <td><%= @user.confirmed_at %></td>
        <% else %>
          <td><%= @user.confirmed_at.in_time_zone('Central Time (US & Canada)').strftime("%-d %b %Y, %l:%M %p") %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">confirmation_sent_at</th>
        <% if @user.confirmation_sent_at.nil? %>
          <td><%= @user.confirmation_sent_at %></td>
        <% else %>
          <td><%= @user.confirmation_sent_at.in_time_zone('Central Time (US & Canada)').strftime("%-d %b %Y, %l:%M %p") %></td>
        <% end %>
      </tr>
      <tr>
        <th scope="row">unconfirmed_email</th>
        <td><%= @user.unconfirmed_email %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

