<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <i class="fa-solid fa-heart fa-beat" style="color: #f21f07;"></i>&nbsp;
    <%= link_to "Singles", root_path, class: "navbar-brand", aria: { current: "page" } %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <%= link_to "/dashboard", class: "nav-link", aria: { current: "page" } do %>
            <i class="fa-solid fa-address-card"></i>&nbsp;Dashboard
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "/chats", class: "nav-link", aria: { current: "page" } do %>
            <i class="fa-solid fa-comment-dots"></i>&nbsp;Chats
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "/profiles", class: "nav-link", aria: { current: "page" } do %>
            <i class="fa-solid fa-magnifying-glass"></i>&nbsp;Search
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "/favorites", class: "nav-link", aria: { current: "page" } do %>
            <i class="fa-solid fa-star"></i>&nbsp;Favorites
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "/blocks", class: "nav-link", aria: { current: "page" } do %>
            <i class="fa-solid fa-thumbs-down"></i>&nbsp;Blocked
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "/visits", class: "nav-link", aria: { current: "page" } do %>
            <i class="fa-solid fa-eye"></i>&nbsp;Visitors
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "https://donate.stripe.com/9AQdSF0ng3CO49i000", class: "nav-link", aria: { current: "page" } do %>
            <i class="fa-solid fa-sack-dollar"></i>&nbsp;Donate
          <% end %>
        </li>
      </ul>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "/", class: "nav-link" do %>
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>&nbsp;<%= current_user.username %>
            </a>
            <div class="dropdown-menu">
              <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                <i class="fa-solid fa-pen-to-square" style="color: #585555;"></i>&nbsp;Edit profile
              <% end %>

              <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" do %>
                <i class="fa-solid fa-right-from-bracket" style="color: #585555;"></i>&nbsp;Sign out
              <% end %>

              <% if current_user.email == "flstudio444@gmail.com" %>
                <%= link_to admin_panel_path, class: "dropdown-item" do %>
                  <i class="fa-solid fa-screwdriver-wrench" style="color: #d4200c;"></i>&nbsp;Admin panel
                <% end %>
              <% end %>

            </div>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
