<div id="<%= dom_id chat %>">
  <p>
    <strong>Sender:</strong>
    <%= chat.sender_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= chat.receiver_id %>
  </p>

  <p>
    <strong>Closed by sender:</strong>
    <%= chat.closed_by_sender %>
  </p>

  <p>
    <strong>Closed by reseiver:</strong>
    <%= chat.closed_by_reseiver %>
  </p>

</div>
